{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}





    <nav class="navbar navbar-expand-lg navbar-light"  id="subNavbar">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">

                    {% for category in categories %}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ category.name }}
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            {% for subCategory in category.subCategories %}
                            <li><a class="dropdown-item" href="{{ path('shop_subCategory', {id: subCategory.id}) }}">{{ subCategory.name }}</a></li>
{#                            <li><a class="dropdown-item" href="#">Feature Phones</a></li>#}
{#                            <li><a class="dropdown-item" href="#">Mobile Covers</a></li>#}
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>







    {% if products is empty %}
        <div class="alert alert-warning d-flex w-75 mx-auto p-3" role="alert">
            <div class="align-middle mx-auto">
                <h4>No Products Found !
                    <a href="{{ path('app_shop_page') }}">Shop Page</a>
                </h4>

            </div>
        </div>
    {% else %}

    <!-- product section -->
    <section class="product_section layout_padding" style="display: grid ; grid-template-columns: auto auto ;">
        {% if subCategory is defined %}
        <aside class="col-md-3" style="margin-left: 4rem">
            <div class="card" style="width: 20rem">
                <article class="filter-group">
                    <header class="card-header">
                        <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                            <i class="icon-control fa fa-chevron-down"></i>
                            <h1 class="title">Product type</h1>
                        </a>
                    </header>
                    <div class="filter-content collapse show" id="collapse_1" style="">
                        <div class="card-body">

                            <ul class="list-menu">
                                <li><a href="#">People  </a></li>
                                <li><a href="#">Watches </a></li>
                                <li><a href="#">Cinema  </a></li>
                                <li><a href="#">Clothes  </a></li>
                                <li><a href="#">Home items </a></li>
                                <li><a href="#">Animals</a></li>
                                <li><a href="#">People </a></li>
                            </ul>

                        </div> <!-- card-body.// -->
                    </div>
                </article> <!-- filter-group  .// -->

                <form>
                    <article class="filter-group">
                        <header class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
                                <i class="icon-control fa fa-chevron-down"></i>
                                <h2 class="title">Price</h2>
                            </a>
                        </header>
                        <div class="filter-content collapse show" id="collapse_3" style="">

                            <div class="card-body">
{#                                <input type="range" class="custom-range" min="0" max="100" name="">#}
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>Min</label>
                                        <input class="form-control" placeholder="$0" type="number">
                                    </div>
                                    <div class="form-group text-right col-md-6">
                                        <label>Max</label>
                                        <input class="form-control" placeholder="$1,0000" type="number">
                                    </div>
                                </div> <!-- form-row.// -->

                            </div><!-- card-body.// -->

                        </div>
                    </article> <!-- filter-group .// -->
                    <article class="filter-group">
                        <header class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapse_4" aria-expanded="true" class="">
                                <i class="icon-control fa fa-chevron-down"></i>
                                <h2 class="title">Sizes </h2>
                            </a>
                        </header>
                        <div class="filter-content collapse show" id="collapse_4" style="">
                            <div class="card-body">
                                <label class="checkbox-btn">
                                    <input type="checkbox" class="radio">
                                    <span class="btn btn-light w-100"> S </span>
                                </label>

                                <label class="checkbox-btn">
                                    <input type="checkbox" class="radio">
                                    <span class="btn btn-li ght w-100"> M </span>
                                </label>

                                <label class="checkbox-btn">
                                    <input type="checkbox" class="radio">
                                    <span class="btn btn-light w-100"> L </span>
                                </label>

                                <label class="checkbox-btn">
                                    <input type="checkbox" class="radio">
                                    <span class="btn btn-light w-100"> XXL </span>
                                </label>
                            </div><!-- card-body.// -->
                        </div>
                    </article> <!-- filter-group .// -->


                    <div class="mt-3">
                        <input type="submit" value="Apply" class="btn text-center mb-4">

                    </div>

                </form>
            </div> <!-- card.// -->

        </aside>
        {% endif %}
        <div class="container">
            <div class="row">

                <main class="col-md-10">
                    <div class="border-bottom mb-4 pb-4">
                        <div class="form-inline">
                            <select class="mr-2 form-control">
                                <option>Most Popular</option> class="radio"
                                <option>New items</option>
                                <option>Cheap First</option>
                                <option>Expensive First</option>
{#                                <option>High Rating</option>#}
                            </select>
                        </div>
                    </div>

                    <div class="row">
                    </div>

                </main>



                {% for product in products %}



                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="box">
                            <div class="option_container">
                                <div class="options">
                                    <a href="{{ path('product_detail', {id: product.id}) }}" class="option1">
                                        See Details
                                    </a>
                                </div>
                            </div>
                            <div class="img-box">
                                <img src="{{ product.image }}" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    {{ product.name }}
                                </h5>
                                <h6>
                                    ${{ product.price }}
                                </h6>
                            </div>
                        </div>
                    </div>

                {% endfor %}

            </div>
            <div class="navigation float-md-end mt-3">
                {{ knp_pagination_render(products) }}
            </div>

        </div>



    </section>
    {% endif %}
    <!-- end product section -->

    <script>

    </script>

{% endblock %}
